{% extends "base.html" %}

{% block title %}Update Entries{% endblock %}

{% block content %}

<form method="post" action="#">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.sum.label(class="form-control-label") }}
        {{ form.sum(class="form-control", value=entries.sum) }}
    </div>
     <br>
    <div class="form-check">
        {{ form.income.label(class="form-check-label") }}
        {{ form.income(class="form-check-input") }}
    </div>
    <br>
    <div class="form-check">
        {{ form.costs.label(class="form-check-label") }}
        {{ form.costs(class="form-check-input") }}
    </div>
    <br>
    {{ form.submit }}
</form>
{% endblock %}